/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
config/database.yml
config/s3.yml
config/oauth.yml
config/redis.yml
config/sidekiq.yml
config/secrets.yml
config/mailchimp.yml
.DS_Store
.gitkeep
._*
/coverage
/public/system
/public/sitemaps
/public/testing/assets
/public/production/assets
.sass-cache/*
.env
config/deploy/*