- result ||= nil


- unless result.blank?
  - desc = result[:description]
  - desc ||= result[:subheading]
  - desc ||= result[:meta].present? && result[:meta][:description]

  .result.static-page
    %h2= link_to result[:page_title], static_page_url(result[:id])
    = simple_format(desc) unless desc.blank?