%header#header
  #brand.pull-right
    = link_to t(:name), root_url, title: t(:name)

  #breadcrumbs
    %a#menu-icon{href: 'javascript:;'}
      %span.menu-bar
      %span.menu-bar
      %span.menu-bar
    .divider
    %a.close-menu{href: 'javascript:;'}= t(:close)

    - unless @breadcrumbs.blank?
      %ul.list-unstyled
        - @breadcrumbs.each do |v|
          %li
            - unless v[:url].blank?
              = link_to v[:name], v[:url]
            - else
              = v[:name]