- @page_title = t('.page_title', default: '')
- @page_meta_description = t('.meta.description', default: '')
- @page_meta_keywords = t('.meta.keywords', default: '')
- @page_share_title = t('.page_title', default: '')
- @page_share_description = t('.meta.description', default: '')


.page-header
  %h1= t('.title')
  %p= t('.copy')


%h3 TMP, FOR TESTING PAGES
%ul
  - %w(what-color-is-the-internet wayback-wifi fffffartsy shaved-bieber pop-block greed twitter-fileshare dr-google ctrl-f-d fuckCAPTCHA projections-of-hurtsboro-identity will-paint-4-food).each do |page|
    %li= link_to page.humanize.titleize, project_url(page)

%hr

%p
  = link_to t('.list'), project_url(:all)