- @page_title = t('.page_title', default: '')
- @page_meta_description = t('.meta.description', default: '')
- @page_meta_keywords = t('.meta.keywords', default: '')
- @page_share_title = t('.page_title', default: '')
- @page_share_description = t('.meta.description', default: '')


.page-header
  %h1= t('.title')
  %p= t('.copy')


%hr

%p
  = link_to t('.list'), project_url(:all)