- @page_title = t('.page_title', default: '')
- @page_meta_description = t('.meta.description', default: '')
- @page_meta_keywords = t('.meta.keywords', default: '')
- @page_share_title = t('.page_title', default: '')
- @page_share_description = t('.meta.description', default: '')

- @breadcrumbs << {name: t('.title')}


#intro-area
  .intro-box
    %h1= t('.title')
    %h4= t('.copy')
  .slideshow
    [IMG]
  .divider


