%footer
  %p.text-center.contact= t('.contact', contacts_url: contacts_url).html_safe
  %p.text-center= t('.footer', works_url: client_works_url, works_list_url: client_work_url(:all)).html_safe
  %p.small.text-center= t('.disclaimer')