// PROJECT / WORK INTRO AREA
.project {
  #intro-area { position: relative; min-height: 325px; margin: 0 0 68px 0;
    .intro-box {
      h1 {position: absolute; z-index: 30; bottom: -48px; left: -30px; padding: 30px; margin: 0; background-color: $gleuch-logo; font-size: 3.6rem; line-height: 1.0em; text-transform: uppercase; color: $gleuch-white;}
      h4 {color: $gleuch-white; font-weight: 500; font-size: 2.2rem; line-height: 1.2em; text-shadow: 0 1px 1px rgba($gleuch-black,.12);}
      & + hr {position: absolute; bottom: -48px; left: 0; right: 0; margin: 0; padding: 0; border-width: 0; border-color: transparent; height: 96px; background: image-url('bg/pixel-bg-bar.png') top right repeat; z-index: 10;}
    }
    #intro-carousel { background-color: rgba($gleuch-black,.05);
      .carousel-indicators {display: none;}
      .item {
        .item-container {position: relative; padding-top: 46%;
          .item-content {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-position: center center; background-repeat: no-repeat; background-size: cover;
            &.video iframe {display: block; background: $gleuch-grey-bg; margin: 0; padding: 30px 30px 68px 30px; width: 100%; height: 100%;}
          }
        }
        .carousel-caption {display: none;}
      }
    }

    &.no-carousel {min-height: 72px;}
  }

  #announcement { background-color: $gleuch-mid-grey-bg; padding: 30px 30px; margin: 15px -15px; font-weight: 500; border-bottom: 5px solid rgba($gleuch-mid-black,.12);
    p { padding: 8px 0 0 0; margin: 0; color: $gleuch-mid-black; font-size: 1.8rem; line-height: 1.33em;
      em {font-style: normal; font-weight: 700; display: inline-block; color: $gleuch-white; background-color: $gleuch-mid-black; padding: 3px 8px; margin: -3px 2px -3px 0; line-height: 1em; overflow: visible;}
      &:first-child {padding-top: 0;}
    }
  }

  #description { padding: 15px 0;
    h2 {font-weight: 500; color: $gleuch-mid-black; font-size: 2.6rem; line-height: 1.23em; margin: 0; padding: 0;}
  }

  #statement, #examples {margin: 15px 0 30px -30px; padding: 30px 30px 22px 30px; background-color: $gleuch-white;}

  #statement {
    h3 {display: none;}
    p {font-size: 1.7rem; line-height: 1.41em; padding: 0 0 8px 0;}
    & + #examples {margin-top: -30px; padding-top: 0;}
  }


  @media ($tablet-max-size) {
  
  }

  @media ($mobile-max-size) {
    #intro-area { min-height: 0; margin-left: -$gleuch-xs-frame-padding; margin-right: -$gleuch-xs-frame-padding; margin-bottom: 50px;
      .intro-box {
        h1 {bottom: -50px; font-size: 2.0rem; padding: 15px; left: 0; margin-right: $gleuch-xs-frame-padding; white-space: pre-word;}
        & + hr {bottom: -50px; height: 50px;}
      }
      #intro-carousel {
        .item {
          .item-container { padding-top: 50%;
            .item-content.video iframe {padding: 0;}
          }
        }
      }
      &.no-carousel {min-height: 30px;}
    }
    #description {
      h2 {font-size: 1.8rem;}
    }
    #announcement {margin-left: -$gleuch-xs-frame-padding; margin-right: -$gleuch-xs-frame-padding; padding: 25px $gleuch-xs-frame-padding;
      p {font-size: 1.4rem; line-height: 1.5em;}
    }
  }
}