// Social Icons
.socialicon {
  &:before {display: inline; font-size: 2.0em; line-height: 0; vertical-align: middle; font-family: $gleuch-webfont-social; text-transform: none;}
  &.socialicon-facebook:before {content: '\E027';}
  &.socialicon-twitter:before {content: '\E086';}
  &.socialicon-tumblr:before {content: '\E085';}
  &.socialicon-pinterest:before {content: '\E064';}
  &.socialicon-githublogo:before {content: '\E036';}
  &.socialicon-github:before {content: '\E037';}
  &.socialicon-googleplus:before, .socialicon-gplus:before {content: '\E039';}
  &.socialicon-linkedin:before {content: '\E052';}
  &.socialicon-youtube:before {content: '\E099';}
  &.socialicon-email:before {content: '\E024';}
  &.socialicon-rss:before {content: '\E071';}
  &.socialicon-stumbleupon:before {content: '\E083';}
  &.socialicon-reddit:before {content: '\E069';}
  &.socialicon-podcast:before {content: '\E065';}
  &.socialicon-instagram:before {content: '\E100';}
  &.socialicon-share:before {content: '\E073';}
  &.socialicon-comment:before, .socialicon-comments:before {content: '\E049';}
}


html, html * {font-family: $gleuch-webfont-sans; font-weight: 500; 
  -webkit-text-rendering: optimizeLegibility; -moz-text-rendering: optimizeLegibility; -ms-text-rendering: optimizeLegibility; -o-text-rendering: optimizeLegibility; text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6, strong, b, th, dt {font-weight: 600; color: $gleuch-mid-black;
  & a, & span {font-weight: 600;}
}
p, div, li, td, dd {color: $gleuch-text-grey;}
a {color: darken($gleuch-logo, 5%); @include transition(color .2s ease-out);
  &:focus, &:hover {color: $gleuch-text-grey; text-decoration: none;}
}

body ::selection {background: rgba($gleuch-mid-black,.24);}

form {
  .form-control {border-radius: 0; color: $gleuch-text-grey; font-size: 2.0rem; padding: 8px 10px; border-color: rgba($gleuch-black, .25); height: auto;
    @include placeholder {color: rgba($gleuch-text-black,.2); text-transform: lowercase;}
    &:focus {border-color: rgba($gleuch-black,.5); outline: none; box-shadow: 0 0 5px rgba($gleuch-black,.12);}
  }
  textarea.form-control {line-height: 1.33em;}
  label.checkbox {display: block; font-size: 1.6rem; padding: 0 0 8px 24px;
    input[type=checkbox] {margin-left: -24px; margin-right: 0; position: absolute;}
  }

}

.btn {
  &.btn-lg {padding: 15px; font-size: 2.25rem; line-height: 1.0em;}
  &.btn-default {border-radius: 0; border: 1px solid transparent; text-transform: uppercase; color: $gleuch-white; background-color: $gleuch-logo; font-weight: 700; text-shadow: 0 1px 1px rgba($gleuch-black,.05); @include transition(background-color .2s ease-out);
    &:hover, &:focus {background-color: lighten($gleuch-logo,10%); color: $gleuch-white; outline: none; box-shadow: none;}
    &:focus {box-shadow: 0 0 8px rgba($gleuch-black,.32);}
    &:active {background-color: rgba($gleuch-mid-black,.5);}
  }
  &[disabled], &.disabled {opacity: .5; @include transition(none); box-shadow: none;
    &, &:hover, &:focus, &:active {background-color: rgba($gleuch-mid-black,.5) !important;}
  }
}