// ABOUT PAGE
.page-about {
  #upper-container {
    .feature-item {position: relative; padding-top: 40%;
      .feature-content {position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; background: rgba($gleuch-black,.05);
        img, video {width: 100%; height: auto; display: block;}
        video {background: #ff0;}
      }
    }
  }
  .intro-box { position: absolute; z-index: 20; left: 25px; bottom: 100%; margin-bottom: -94px; width: 375px; padding: 30px 30px 170px 30px; background-color: rgba($gleuch-mid-black,.6);
    h1 {position: absolute; z-index: 30; bottom: 50px; left: -55px; width: 345px; padding: 30px; margin: 0; background-color: $gleuch-logo; font-size: 3.6rem; line-height: 1.0em; text-transform: uppercase; color: $gleuch-white;}
    h3, h4, q, blockquote {color: $gleuch-white; font-weight: 500; font-size: 2.2rem; line-height: 1.2em; text-shadow: 0 1px 1px rgba($gleuch-black,.12);}
    h3 {font-weight: 700; text-transform: uppercase;}
  }
  #biography_content { margin-bottom: 30px;
    #biography {position: relative; z-index: 30; background: $gleuch-white; padding: 30px; margin: -100px 30px 0 315px;
      p {font-size: 1.9rem; line-height: 1.42em;}
    }
    #biography_stats {position: absolute; top: 110px; left: 30px; max-width: 300px;
      a {
        &:hover, &:focus {
          dt, dd {color: $gleuch-logo; @include transition(color .2s ease-out);}
        }
        // dd:after{content: ">";}
      }
      dl { padding: 10px 0 3px 0; margin: 0;
        dt, dd {padding: 0; margin: 0; line-height: 1.0em;}
        dt {font-size: 2.4rem; font-weight: 600;}
        dd {padding-top: 1px; font-size: 1.6rem; text-transform: lowercase;}
      }
    }
    & + hr {margin: 45px 30px 30px; height: 15px; border-width: 15px; border-color: transparent; background: $gleuch-text-grey;}
  }

  #info-list {padding: 0 0 15px 0;
    section {padding: 25px 30px; margin: 0 30px 15px 30px; background-color: $gleuch-white;
      h3 {padding: 0 0 10px 0; margin: 0;}
      .item {padding-bottom: 5px;}
    }
  }


  // TABLET
  @media ($tablet-max-size) {
    .intro-box {
      h1 {font-size: 3.2rem; padding: 25px 25px 25px $gleuch-sm-frame-padding;}
    }
  }

  // MOBILE
  @media ($mobile-max-size) {
    #upper-container {
      .feature-item {
        .feature-content {
          img {width: 100%; height: auto; display: block;}
        }
      }
    }
    .intro-box { padding: 0; margin-bottom: -75px; left: 0;
      h1 {font-size: 2.0rem; padding: 15px; top: auto; left: -$gleuch-xs-frame-padding; width: auto;}
    }
    #biography_content {min-height: 0 !important; margin-bottom: 0;
      #biography {padding: 45px 0 23px 0; z-index: 10; margin: 0;
        p {font-size: 1.6rem;}
      }
      & + hr {border-width: 8px; height: 8px; margin: 0;}
    }
    #info-list {margin-top: 15px;
      section {margin: 0; padding: 15px 15px; background-color: transparent; //margin: 0 15px 15px 15px; padding: 15px;
//        &:before {content: ""; display: block; background: $gleuch-text-grey; height: 8px; margin: -15px -15px 15px -15px;};
        h3 {font-size: 1.8rem; line-height: 1.1em; padding: 0 0 10px 0;}
      }
    }
  }
}